---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
---

<Layout title="Plumby - Professional Plumbing Services">
	<div class="relative">
		<div class="fixed top-0 left-0 right-0 z-50 bg-white">
			<Header />
		</div>
		<main class="pt-[72px]">
			<Hero />
			<About />
		</main>
	</div>
</Layout>
