---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Professional plumbing services for your home and business" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://api.fontshare.com/v2/css?f[]=satoshi@700&display=swap" rel="stylesheet" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="font-inter relative min-h-screen">
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--color-primary: #1681FF;
		--color-dark: #171A1F;
		--color-secondary: #495460;
		--color-divider: #E2E7EC;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		overflow-x: hidden;
	}
</style>
